* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: rgb(200, 225, 225);
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.head {
    margin-top: 1em;
    font-size: 3em;
    font-weight: bold;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    gap: 5%;
}

.grid {
    height: 35vw;
    width: 35vw;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 5px 5px rgb(175, 200, 200);
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90%;
}

button {
    width: 10em;
    height: 4em;
    margin-top: 1em;
    background-color: rgb(245,245,245);
}

.checkbox, .slider, .eraserbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colorpicker {
    height: 100px;
    width: 100px;
}

.checkrgb, .eraser {
    height: 3em;
    width: 3em;
}

.slider {
    margin-bottom: 10px;
}