* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: rgb(230, 230, 230);
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.head {
    margin-top: 1em;
    font-size: 3em;
    font-weight: bold;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    gap: 5%;
}

.grid {
    height: 35vw;
    width: 35vw;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 5px 5px rgb(220, 220, 220);
}

.options, .sizeoptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.options {
    height: 90%;
}

.sizeoptions {
    height: 50%;
}

button {
    width: 10em;
    height: 4em;
    margin-top: 1em;
    background-color: transparent;
    border-radius: 1em;
    font-size: 100%;
}

button:hover {
    box-shadow: 0 0 5px 5px rgb(220, 220, 220);
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colorpicker {
    height: 100px;
    width: 100px;
}

.slider {
    margin: 10px 0;
}

.activated {
    background-color: rgb(70, 70, 70);
    color: rgb(220, 220, 220);
}